<app-breadcrumb [breadcrumbList]="[{name:'Admin Users', url:'admin_users/dashboard'}, {name:'List', url:'admin_users/list'},{name:currentUser?.name, url:'admin_users/details/'+currentUser._id}, {name:'Change Password', url:''}]"></app-breadcrumb>
<div class="g-pa-20">
    <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black">
            <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-10">
                <i class="hs-admin-panel"></i>
            </span>
            Change Password
        </h3>
        <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-mt-15--md g-mb-30--md">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="g-mb-10" for="password">Password <span style="color: red">*</span></label>
                        <div class="g-pos-rel">
                            <input
                                id="password"
                                (blur)="validationLogErrors(changePasswordForm)"
                                formControlName="password"
                                type="password"
                                tabindex="1"
                                placeholder="Password"
                                [class.u-has-error-v3]="formErrors.password"
                                autocomplete="off"
                                class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                            <small *ngIf="formErrors.password" class="g-font-weight-300 g-font-size-12 g-color-lightred-v3  g-pt-5">
                                {{formErrors.password}}
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="g-mb-10" for="confirmPassword">Confirm Password <span style="color: red">*</span></label>
                        <div class="g-pos-rel">
                            <input
                                id="confirmPassword"
                                (blur)="validationLogErrors(changePasswordForm)"
                                formControlName="confirmPassword"
                                type="password"
                                tabindex="1"
                                placeholder="Confirm Password"
                                [class.u-has-error-v3]="formErrors.confirmPassword"
                                autocomplete="off"
                                class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                            <small *ngIf="formErrors.confirmPassword" class="g-font-weight-300 g-font-size-12 g-color-lightred-v3  g-pt-5">
                                {{formErrors.confirmPassword}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button [disabled]="isSubmitClick || !changePasswordForm.valid" class="g-mt-20 btn btn-block btn-md u-btn-blue g-mr-10">
                        <span>Change Password </span>
                        <img *ngIf="isSubmitClick" src="assets/img/preloaders/preloader-white.svg" style="height: 16px;">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
