<div class="media flex-wrap g-mb-30" id="sort-by-parent">
    <div class="d-flex align-self-center align-items-center">
        <span for="sortByItem" class="g-hidden-sm-down g-color-gray-dark-v6 g-mr-12">Sort By:</span>
        <div class="u-select--v1 g-pr-20">
            <select class="selectpicker u-select--v1-select w-100" (change)="sortByChange($event.target.value)" style="display: none">
              <option *ngFor="let item of sortByList" value="{{item.value}}">{{item.name}}</option>
            </select>
            <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto"></i>
        </div>
    </div>
    <div class="d-flex align-self-center align-items-center g-ml-10 g-ml-20--md g-ml-40--lg">
        <span class="g-hidden-sm-down g-color-gray-dark-v6 g-mr-12">Sort Type:</span>
        <div class="u-select--v1 g-pr-20">
            <select class="selectpicker u-select--v1-select w-100"  (change)="sortTypeChange($event.target.value)">
                <option value="asc">Ascending</option>
                <option value="des">Descending</option>
            </select>
            <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto"></i>
        </div>
    </div>
</div>

