<div *ngIf="formErrorMessage != null" class="col-md-12 noty_bar noty_type__error noty_theme__unify--v1 noty_close_with_click noty_has_progressbar noty_has_timeout g-mb-20">
    <div class="noty_body">
        <div class="g-mr-20"><div class="noty_body__icon"><i class="hs-admin-alert"></i></div></div>
        <div>{{formErrorMessage}}</div>
    </div>
</div>
<div *ngIf="formSuccessfullyMessage != null"  class="noty_bar noty_type__success noty_theme__unify--v1 g-mb-25">
    <div class="noty_body">
        <div class="g-mr-20"><div class="noty_body__icon"><i class="hs-admin-check"></i></div></div>
        <div>{{formSuccessfullyMessage}}</div>
    </div>
</div>
