<app-breadcrumb [breadcrumbList]="[{name:'Notifications', url:'notifications/dashboard'},{name:'Create SMS Account', url:''}]"></app-breadcrumb>

<div class="g-pa-20">
    <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
      <form [formGroup]="createSMSAccountForm" (ngSubmit)="onSubmit()">
        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black"><span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-10"><i class="hs-admin-panel"></i></span>Create New SMSAccount</h3>
        <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-mt-15--md g-mb-30--md">

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label class="g-mb-10" for="provider">Provider <span style="color: red">*</span></label>
              <div class="g-pos-rel">
                <input
                  id="provider"
                  maxlength=255
                  formControlName="provider"
                  type="text"
                  tabindex="1"
                  placeholder="provider"
                  autocomplete="off"
                  [class.u-has-error-v3]="!createSMSAccountForm.get('provider').valid && createSMSAccountForm.get('provider').touched || errorMessage != '' && !createSMSAccountForm.get('provider').valid"
                  class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                <small
                  *ngIf="!createSMSAccountForm.get('provider').valid && createSMSAccountForm.get('provider').touched || errorMessage != '' && !createSMSAccountForm.get('provider').valid " class="g-font-weight-300 g-font-size-12 g-color-lightred-v3  g-pt-5">
                  <span *ngIf="!createSMSAccountForm.get('provider').valid && createSMSAccountForm.get('provider').errors['required']">Provider is required</span>
                  <span *ngIf="!createSMSAccountForm.get('provider').valid && createSMSAccountForm.get('provider').errors['maxlength']">Provider maxmumim length is 255</span>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-6">
              <div class="form-group">
                <label class="g-mb-10" for="name">Name <span style="color: red">*</span></label>
                <div class="g-pos-rel">
                  <input
                    id="name"
                    maxlength=255
                    formControlName="name"
                    type="text"
                    tabindex="1"
                    placeholder="name"
                    autocomplete="off"
                    [class.u-has-error-v3]="!createSMSAccountForm.get('name').valid && createSMSAccountForm.get('name').touched || errorMessage != '' && !createSMSAccountForm.get('name').valid"
                    class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                  <small
                    *ngIf="!createSMSAccountForm.get('name').valid && createSMSAccountForm.get('name').touched || errorMessage != '' && !createSMSAccountForm.get('name').valid " class="g-font-weight-300 g-font-size-12 g-color-lightred-v3  g-pt-5">
                    <span *ngIf="!createSMSAccountForm.get('name').valid && createSMSAccountForm.get('name').errors['required']">Name is required</span>
                    <span *ngIf="!createSMSAccountForm.get('name').valid && createSMSAccountForm.get('name').errors['maxlength']">Name maxmumim length is 255</span>
                  </small>
                </div>
              </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="g-mb-10" for="account_sid">AccountSid <span style="color: red">*</span></label>
                <div class="g-pos-rel">
                  <input
                    id="account_sid"
                    maxlength=255
                    formControlName="account_sid"
                    type="text"
                    tabindex="1"
                    placeholder="account_sid"
                    autocomplete="off"
                    [class.u-has-error-v3]="!createSMSAccountForm.get('account_sid').valid && createSMSAccountForm.get('account_sid').touched || errorMessage != '' && !createSMSAccountForm.get('account_sid').valid"
                    class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                  <small
                    *ngIf="!createSMSAccountForm.get('account_sid').valid && createSMSAccountForm.get('account_sid').touched || errorMessage != '' && !createSMSAccountForm.get('account_sid').valid " class="g-font-weight-300 g-font-size-12 g-color-lightred-v3  g-pt-5">
                    <span *ngIf="!createSMSAccountForm.get('account_sid').valid && createSMSAccountForm.get('account_sid').errors['required']">AccountSid is required</span>
                    <span *ngIf="!createSMSAccountForm.get('account_sid').valid && createSMSAccountForm.get('account_sid').errors['maxlength']">AccountSid maxmumim length is 255</span>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                  <label class="g-mb-10" for="auth_token">Auth Token <span style="color: red">*</span></label>
                  <div class="g-pos-rel">
                    <input
                      id="auth_token"
                      maxlength=255
                      formControlName="auth_token"
                      type="text"
                      tabindex="1"
                      placeholder="auth_token"
                      autocomplete="off"
                      [class.u-has-error-v3]="!createSMSAccountForm.get('auth_token').valid && createSMSAccountForm.get('auth_token').touched || errorMessage != '' && !createSMSAccountForm.get('auth_token').valid"
                      class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                    <small
                      *ngIf="!createSMSAccountForm.get('auth_token').valid && createSMSAccountForm.get('auth_token').touched || errorMessage != '' && !createSMSAccountForm.get('auth_token').valid " class="g-font-weight-300 g-font-size-12 g-color-lightred-v3  g-pt-5">
                      <span *ngIf="!createSMSAccountForm.get('auth_token').valid && createSMSAccountForm.get('auth_token').errors['required']">Auth Token is required</span>
                      <span *ngIf="!createSMSAccountForm.get('auth_token').valid && createSMSAccountForm.get('auth_token').errors['maxlength']">Auth Token maxmumim length is 255</span>
                    </small>
                  </div>
                </div>
              </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="g-mb-10" for="customerId">CustomerId </label>
                <div class="g-pos-rel">
                  <input
                    id="customerId"
                    maxlength=255
                    formControlName="customerId"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(.*)/g, '$1');"
                    type="text"
                    tabindex="1"
                    placeholder="customerId"
                    autocomplete="off"
                    class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                </div>
              </div>
            </div>

          </div>

              <button
                [disabled]="isSubmitClick"
                class="btn btn-md btn-xl--md u-btn-secondary g-width-160--md g-font-size-12 g-font-size-default--md g-mr-10">
                <span>Create </span>
                <img *ngIf="isSubmitClick" src="assets/img/preloaders/preloader-white.svg" style="height: 16px;">
              </button>

      </form>
    </div>
  </div>
