<div class="g-pos-rel g-top-3 d-inline-block">
    <a id="dropDown{{_id}}Invoker" appShowHideDots class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-secondary--hover" href="javascript:void(0)" [attr.aria-controls]="'dropDown'+_id" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" [attr.data-dropdown-target]="'#dropDown'+_id">
        <i class="hs-admin-more-alt"></i>
    </a>
    <div id="dropDown{{_id}}" class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white u-dropdown--css-animation u-dropdown--hidden u-dropdown--reverse-y" [attr.aria-labelledby]="'dropDown'+_id+'Invoker'">
        <ul class="list-unstyled g-nowrap mb-0">
            <li>
                <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14"  [routerLink]="'/admin/admin_users/change_password/'+_id">
                    <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                    Change Password
                </a>
            </li>
        </ul>
    </div>
</div>
