<app-breadcrumb [breadcrumbList]="[{name:'Networks', url:'networks/dashboard'},{name:'List', url:''}]"></app-breadcrumb>

<div class="g-pa-20">

    <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
        <form #f="ngForm" (ngSubmit)="submitFilter(f.value)">
            <h3 class="g-mt-5 pull-left d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black">
                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-10"><i class="hs-admin-filter"></i></span>
                Filter
            </h3>
            <button
                type="button"
                class="btn btn-md u-btn-secondary pull-right g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10 g-mr-10"
                routerLink="/admin/networks/create">
                Create New
            </button>
            <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-mt-15--md g-mb-30--md" style="clear:both">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="g-mb-10" for="name">Name</label>
                        <div class="g-pos-rel">
                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                              <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                            </span>
                            <input
                              id="name"
                              ngModel
                              tabindex="1"
                              name="name"
                              #name="ngModel"
                              placeholder="Name"
                              autocomplete="off"
                              type="text"
                              class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="g-mb-10" for="company">Company Name</label>
                        <div class="g-pos-rel">
                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                              <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                            </span>
                            <input
                              id="company"
                              ngModel
                              tabindex="1"
                              name="company"
                              #company="ngModel"
                              autocomplete="off"
                              placeholder="Company Name"
                              type="text"
                              class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="g-mb-30">
                        <label class="g-mb-10">Country</label>
                        <ng-select
                        [items]="countries"
                        [(ngModel)]="selectedCountry"
                        tabindex="3"
                        [name]="'countryId'"
                        placeholder="Select Country"
                        [searchable]="true"
                        [clearable]="false"
                        dropdownPosition="bottom"
                        bindLabel="name"
                        bindValue="_id"
                        class="u-select-dropdown--blue-theme u-sibling w-100">
                            <ng-template ng-label-tmp let-item="item">
                                <span class="d-flex align-items-center w-100"><span> {{item.name}}</span></span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <span class="d-flex align-items-center w-100"><span> {{item.name}}</span></span>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="g-mb-10" for="carrierCode">Carrier Code</label>
                        <div class="g-pos-rel">
                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                              <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                            </span>
                            <input
                            id="carrierCode"
                            ngModel
                            tabindex="1"
                            name="carrierCode"
                            #carrierCode="ngModel"
                            placeholder="Carrier Code"
                            type="text"
                            autocomplete="off"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(.*)/g, '$1');"
                            class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                        </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <label class="g-mb-10" for="prefixes">Prefixes</label>
                    <div class="g-pos-rel">
                        <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                            <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                        </span>
                        <input
                        id="prefixes"
                        ngModel
                        tabindex="1"
                        name="prefixes"
                        #prefixes="ngModel"
                        placeholder="Prefixes"
                        type="text"
                        autocomplete="off"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(.*)/g, '$1');"
                        class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10">
                    </div>
                </div>
            </div>
            <app-filter-form-tail (onReset)="resetFilterForm(f)"></app-filter-form-tail>
        </form>
    </div>

    <div id="scroll-to-here"></div>

    <div class="table-responsive g-mb-20">

        <table [style.display]="displayTable" class="table u-table--v3--bordered g-color-black">
            <thead>
                <tr>
                    <th class="g-bg-gray-light-v8 g-font-weight-400 g-valign-middle g-brd-bottom-none g-py-15">
                      <div class="d-flex align-items-center justify-content-between">Network Name</div>
                    </th>
                    <th class="g-bg-gray-light-v8 g-font-weight-400 g-valign-middle g-brd-bottom-none g-py-15">
                      <div class="d-flex align-items-center justify-content-between">Country</div>
                    </th>
                    <th class="g-bg-gray-light-v8 g-font-weight-400 g-valign-middle g-brd-bottom-none g-py-15">
                      <div class="d-flex align-items-center justify-content-between">Prefixes</div>
                    </th>
                    <th class="g-bg-gray-light-v8 g-font-weight-400 g-valign-middle g-brd-bottom-none g-py-15">
                      <div class="d-flex align-items-center justify-content-between">Actions</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="notFound"><td colspan="4" class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">No matching records found</td></tr>
                <tr *ngFor="let network of networks">
                    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">{{network.name}}</td>
                    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">{{ network.countryId | CountryCode}}</td>
                    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
                        <span *ngFor="let prefix of network.prefixes ; last as isLast">
                            <span *ngIf="!isLast">{{prefix}}, </span>
                            <span *ngIf="isLast">{{prefix}}</span>
                        </span>
                    </td>
                    <td class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm"><a  routerLink="/admin/networks/details/{{network._id}}" class="u-pagination-v1__item u-pagination-v1-2 g-bg-secondary--active g-color-white--active g-brd-gray-light-v7 g-brd-secondary--hover g-brd-secondary--active g-rounded-4 g-py-8 g-px-15">Details</a></td>
                </tr>
                <tr *ngIf="pageNumbers>0">
                    <td colspan="4" class="g-hidden-sm-down g-valign-middle g-brd-top-none g-brd-bottom g-brd-gray-light-v7 g-py-15 g-py-30--md g-px-5 g-px-10--sm">
                        <app-page-size
                            (changeSize)="onSizeChange($event)"
                            (changePage)="onPageChange($event)"
                            [totalCount]="totalCount"
                            [pagination]="pagination"
                            [pageNumbers]="pageNumbers"
                            [currentPaginationSelected]="currentPageSelected"
                            [selectedPage]="selectedPage">
                        </app-page-size>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-main-loader [style.display]="displayLoader"></app-main-loader>

    </div>
</div>
