<div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
    <ul class="u-list-inline g-color-gray-dark-v6">
        <li *ngFor="let item of breadcrumbList; let last = last;" class="list-inline-item g-mr-10">
            <a *ngIf="!last" class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" routerLink="/admin/{{item.url}}">{{item.name}}</a>
            <a *ngIf="last" class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="javascript:void(0)">{{item.name}}</a>
            <i *ngIf="!last" class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
        </li>
    </ul>
</div>
