<a
    id="notificationsTopInvoker"
    href="javascript:void(0)"
    aria-controls="notificationsMenuTop"
    aria-haspopup="true"
    aria-expanded="false"
    data-dropdown-event="click"
    data-dropdown-target="#notificationsMenuTop"
    data-dropdown-type="css-animation"
    data-dropdown-duration="300"
    data-dropdown-animation-in="fadeIn"
    data-dropdown-animation-out="fadeOut"
    class="d-block text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20">
    <i class="hs-admin-bell g-absolute-centered"></i>
</a>
<div
    id="notificationsMenuTop"
    aria-labelledby="notificationsTopInvoker"
    class="js-custom-scroll g-absolute-centered--x g-width-340 g-max-width-400 g-height-400 g-mt-17 rounded">
    <div class="media text-uppercase u-header-dropdown-bordered-v1 g-pa-20">
        <h4 class="d-flex align-self-center g-font-size-default g-letter-spacing-0_5 g-mr-20 g-mb-0">Notifications</h4>
    </div>
    <ul class="p-0 mb-0">
        <li class="media u-header-dropdown-item-v1 g-parent g-px-20 g-py-15">
            <div class="d-flex align-self-center u-header-dropdown-icon-v1 g-pos-rel g-width-55 g-height-55 g-font-size-22 rounded-circle g-mr-15">
                <i class="hs-admin-bookmark-alt g-absolute-centered"></i>
            </div>
            <div class="media-body align-self-center">
                <p class="mb-0">A Pocket PC is a handheld computer features</p>
            </div>
            <a class="d-flex g-color-lightblue-v2 g-font-size-12 opacity-0 g-opacity-1--parent-hover g-transition--ease-in g-transition-0_2" href="#!"><i class="hs-admin-close"></i></a>
        </li>
    </ul>
</div>
